<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tienda</title>
</head>

<body>
    <div id="appVue">
        <div class="anuncio">
            <p>Anuncio que va de derecha a izquierda</p>
        </div>
        <div class="panelSuperior">
            <div class="navUser">
                <div class="navIzq"><button @click="canviarDiv('contacto')">Contáctanos</button></div>
                <div class="navCentro">
                    <img src="./img/images.jpeg" alt="Inicio" @click="canviarDiv('portada')" class="img-inicio">
                </div>
                <div class="navDer">
                    <input type="text" placeholder="Buscar...">
                    <button id="login">Login</button>
                    <button @click="canviarDiv('checkout')">Cesta</button>
                </div>
            </div>
            <div id="navCat">
                <button v-for="(categoria, index) in infoTotal.data.categorias" :key="categoria.id_categoria"
                    @click="mostrarCategorias(index)" class="categoria-btn">
                    {{ categoria.nombre }}
                </button>
            </div>
        </div>

        <!-- Contenido de la tienda -->
        <div v-if="mostrarDiv('portada')" id="portada">
            <div class="descripcion-portada">
                <div class="div-portada"></div>
                <p id="id-descripcion">Descripción de la portada</p>
            </div>

            <div class="tarjetas-prendas" >
                <div class="tarjeta-prenda" v-for="prenda in prendaAleatorios" :key="prenda.id_prenda" @click="verInfoPrenda(prenda)">
                    <div class="imagen" :style="{ backgroundImage: 'url(' + prenda.imagenes[0] + ')' }"></div>
                    <div class="contenido-tarjeta">
                        <h3>{{ prenda.nombre }}</h3>
                        <p>Precio: {{ prenda.precio }}€</p>
                    </div>
                </div>
            </div>
            
            <div class="descripcion-portada">
                <div class="div-portada"></div>
                <p id="id-descripcion">Descripción de la portada</p>
            </div>

            <div class="tarjetas-prendas">
                <div class="tarjeta-prenda" v-for="prenda in prendaAleatorios" :key="prenda.id_prenda" @click="verInfoPrenda(prenda)">
                    <div class="imagen" :style="{ backgroundImage: 'url(' + prenda.imagenes[0] + ')' }"></div>
                    <div class="contenido-tarjeta">
                        <h3>{{ prenda.nombre }}</h3>
                        <p>Precio: {{ prenda.precio }}€</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Navegación de categorías -->
        <div v-if="mostrarDiv('botiga')" id="prendas">
            <h1>{{ infoTotal.data.categorias[activeIndex].nombre }}</h1>
            <!-- filtro -->
            <label for="filtroGenero" class="filtroGenero">Filtrar por género:</label>
            <select id="filtroGenero" @change="filtrarPrendas($event.target.value)">
                <option value="">Todos</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
            </select>
            <!--prendas filtradas -->
                                                                                             <!--PONER CLICK PARA ENSEÑAR INFO-->
            <div v-for="prenda in prendaFiltrados" :key="prenda.id_prenda" class="prenda"  @click="verInfoPrenda(prenda)">
                <h2>{{ prenda.nombre }}</h2>
                <img v-if="prenda.imagenes[0]" :src="prenda.imagenes[0]" alt="Imagen de {{ prenda.nombre }}">
                <p>Precio: {{ prenda.precio }}€</p>
                <p>Sexo: {{ prenda.sexo }}</p>
                <p>Tallas disponibles:</p>
                <p v-for="talla in prenda.tallas" :key="talla.id_talla">
                    Talla: {{ talla.nombre }}
                </p>
            </div>
        </div>

        <!-- Pantalla informativa de cada prenda -->
        <div v-if="mostrarDiv('infoPrenda')" id="infoPrenda">
            <h1>{{ prendaSeleccionada.nombre }}</h1>
            <div class="info-prenda">
                <div class="imagenes">
                    <img v-for="(imagen, index) in prendaSeleccionada.imagenes" :src="imagen" :alt="`Imagen ${index + 1}`" />
                </div>
                <div class="detalles">
                    <p>{{ prendaSeleccionada.descripcion }}</p>
                    <p>Precio: {{ prendaSeleccionada.precio }}€</p>
                    <p>Sexo: {{ prendaSeleccionada.sexo }}</p>
                    <p>Tallas disponibles:</p>
                    <select v-model="tallaSeleccionada" v-if="prendaSeleccionada.tallas.length > 0">
                        <option v-for="talla in prendaSeleccionada.tallas" :key="talla.id_talla" :value="talla.nombre">
                            {{ talla.nombre }}
                        </option>
                    </select>
                    <p v-else>No hay tallas disponibles.</p> <!-- Mensaje cuando no hay tallas disponibles -->
                    <button @click="agregarACesta(prendaSeleccionada)" v-if="tallaSeleccionada">Agregar a la cesta</button>
                    <button @click="canviarDiv('portada')">Volver</button>
                </div>
            </div>
        </div>
        
        
        

        <!-- Sección de Contacto -->
        <div v-if="mostrarDiv('contacto')" id="contacto">
            <h1>Contacto</h1>
            <form @submit.prevent="enviarFormulario">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" placeholder="Ingresa tu nombre" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Ingresa tu email" required>
                </div>
                <div>
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" placeholder="Escribe tu mensaje aquí" required></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>

        <!-- Sección de Checkout -->
        <div v-if="mostrarDiv('checkout')" id="checkout">
            <h1>Cesta</h1>
            <div v-for="(item, index) in carrito" :key="index" class="cesta">
                <h2>{{ item.nombre }}</h2>
                <img v-if="item.imagenes[0]" :src="item.imagenes[0]" alt="Imagen de {{ item.nombre }}">
                <p>Precio: {{ item.precio }}€</p>
                <p>Talla seleccionada: {{ item.tallaSeleccionada }}</p>
                <button @click="quitarCesta(item)">Eliminar</button>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-container">
                <div class="footer-links">
                    <a href="#about">Sobre nosotros</a>
                    <a href="#contact">Contacto</a>
                    <a href="#privacy">Política de privacidad</a>
                    <a href="#terms">Términos de servicio</a>
                </div>
                <div class="footer-social">
                    <a href="#" aria-label="Facebook">Facebook</a>
                    <a href="#" aria-label="Twitter">Twitter</a>
                    <a href="#" aria-label="Instagram">Instagram</a>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Tienda. Todos los derechos reservados.</p>
            </div>
        </footer>

    </div>

    <script type="module" src="https://unpkg.com/vue@3/dist/vue.esm-browser.js"></script>
    <script type="module" src="./js/comunicationManager.js"></script>
    <script type="module" src="./js/functions.js"></script>
</body>

</html>