<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On-White</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="ticket.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="appVue">
        <!-- Anuncio -->
        <div class="anuncio">
            <div class="marquee">
                ¡No te pierdas nuestras ofertas especiales en ropa de invierno, con descuentos de hasta el 50%! Visita
                nuestra tienda y descubre más.
            </div>
        </div>
        <!-- Panel Superior -->
        <div class="panelSuperior">
            <div class="navUser">
                <div class="navIzq">
                    <a href="http://tr1g1.daw.inspedralbes.cat/public/crood/prendas">
                        <button id="btn-carrito" class="icono">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
                <div class="navCentro">
                    <img src="./img/logo.png" alt="Inicio" @click="canviarDiv('portada')" class="img-inicio">
                </div>
                <div class="navDer">
                    <button id="btn-carrito" class="icono" @click="toggleCarritoLateral">
                        <i class="fa fa-shopping-basket" style="font-size: 20px;"></i>
                    </button>
                </div>
            </div>
            <div id="navCat" class="navCat">
                <div class="categorias">
                    <button v-for="(categoria, index) in infoTotal.data.categorias" :key="categoria.id"
                        id="botonCategoria" @click="mostrarCategorias(index)" class="categoria-btn">
                        {{ categoria.nombre }}
                    </button>
                </div>
            </div>
        </div>

        <!-- Carrito Lateral -->
        <div id="menu-carrito" class="menu-carrito" :class="{ 'visible': carritoVisible }">
            <button class="cerrar" @click="toggleCarritoLateral">X</button>
            <h2>Cesta</h2>
            <div v-if="carrito.length > 0">
                <div v-for="(item, index) in carrito" :key="index" class="cesta-item">
                    <h3>{{ item.nombre || "Producto sin nombre" }}</h3>
                    <p>Talla: {{ item.talla.nombre || item.talla || "No especificada" }}</p>
                    <p>Precio: {{ item.precio }}€</p>
                    <button @click="quitarCesta(item)">Eliminar</button>
                </div>
            </div>
            <div v-else>
                <p>Tu cesta está vacía.</p>
            </div>
            <p>Total: {{ totalCarrito() }}€</p>
            <button id="botonFinalizarCompra" @click="canviarDiv('checkout'); toggleCarritoLateral()">Ir al
                carrito</button>
        </div>
        <!-- Contenido de la Portada -->
        <div v-if="mostrarDiv('portada')" id="portada" class="contenido-portada">
            <div class="descripcion-portada">
                <div class="div-portada">
                    <img src="./img/ade9d580-d18c-4bad-a4b4-11f7e7f8f25d_skate-caps-web.webp"
                        @click="canviarDiv('portada')" class="img-inicio">
                </div>
                <p id="id-descripcion">"CUTE FEELINGS"</p>
            </div>
        </div>

        <!-- Contenido de Categorías Filtradas -->
        <div v-if="mostrar" class="contenido-prendas">
            <div class="titulo">
                <div class="tituloCategoria">
                    <h1>{{ infoTotal.data.categorias[activeIndex].nombre }}</h1>
                    <p>Explora nuestra colección de {{ infoTotal.data.categorias[activeIndex].nombre }}, donde
                        encontrarás una amplia variedad de prendas para cualquier ocasión.</p>
                </div>
                <label for="filtroGenero" class="filtroGenero">Género: </label>
                <select id="filtroGenero" @change="filtrarPrendas($event.target.value)">
                    <option value="">Todos</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                </select>
            </div>
            <div id="prendas">
                <div v-for="prenda in productosFiltrados" :key="prenda.id" class="prenda"
                    @click="verInfoPrenda(prenda)">
                    <img v-if="prenda.imagenes[0]" :src="prenda.imagenes[0]" alt="Imagen de {{ prenda.nombre }}">
                    <p>{{ prenda.descripcion }}</p>
                    <p>{{ prenda.precio }}</p>
                    
                </div>
            </div>
            <!-- Paginación -->
    <div class="paginacion">
        <button @click="paginaAnterior" :disabled="paginaActual === 1">Anterior</button>
        <span>Página {{ paginaActual }} de {{ totalPaginas() }}</span>
        <button @click="paginaSiguiente" :disabled="paginaActual === totalPaginas()">Siguiente</button>
    </div>
        </div>

        <!-- Sección de Checkout -->
        <div v-if="mostrarDiv('checkout')" id="checkout" class="contenido-checkout">
            <h1>Cesta</h1>
            <div v-if="carrito.length > 0" class="contenedor-cesta">
                <div v-for="(item, index) in carrito" :key="index" class="cesta-item">
                    <div class="cesta-item-info">
                        <h2>{{ item.nombre || "Producto sin nombre" }}</h2>
                        <p v-if="item.talla && item.talla.nombre">Talla: {{ item.talla.nombre || "No seleccionado" }}
                        </p>
                    </div>
                    <button id="btn-eliminar" @click="quitarCesta(item)">Eliminar</button>
                </div>
            </div>
            <div v-else>
                <p>Tu cesta está vacía.</p>
            </div>
            <div id="finalizarCompra" v-if="carrito.length > 0">
                <p>Precio total: {{ totalCarrito() }}€</p>
                <input type="email" placeholder="Correo Electrónico" required v-model="correoElectronico"><br><br>
                <button id="botonFinalizarCompra" @click="finalizarCompra">Finalizar Compra</button>
            </div>
        </div>
        <!-- Información de la Prenda Seleccionada -->
        <div v-if="mostrarDiv('infoPrenda')" id="infoPrenda">
            <h1>{{ prendaSeleccionada.nombre }}</h1>
            <button id="prendaVolver" @click="canviarDiv('portada')">
                <i class="fa fa-long-arrow-left"> Volver</i>
            </button>
            <div class="info-prenda">
                <div class="imagenes">
                    <div class="imagen-recuadro">
                        <img v-if="prendaSeleccionada.imagenes[0]" :src="prendaSeleccionada.imagenes[0]"
                            alt="Imagen de {{ prendaSeleccionada.nombre }}">
                    </div>
                </div>
                <div class="detalles">
                    <div class="descripcion-recuadro">
                        <p>{{ prendaSeleccionada.descripcion }}</p>
                        <p>Precio: {{ prendaSeleccionada.precio }}€</p>
                        <p>Sexo: {{ prendaSeleccionada.sexo }}</p>
                    </div>
                    <div class="tallas-recuadro">
                        <p>Tallas disponibles:</p>
                        <div>
                            <label v-for="talla in prendaSeleccionada.tallas" :key="talla.id_talla">
                                <button v-if="talla.stock > 0" id="botonTalla"
                                    :class="{ 'sin-stock': talla.stock === 0 }" @click="seleccionarTalla(talla)">
                                    {{ talla.nombre }}
                                </button>
                            </label>
                        </div>
                        <button id="prendaAñadirCesta"
                            @click="agregarACesta(prendaSeleccionada, tallaSeleccionada, id_prenda)">
                            +<i class="fa fa-shopping-basket"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mensaje de Compra Exitosa -->
        <div v-if="mostrarDiv('divFinal')" id="divFinal">
            <h2>Compra realizada correctamente</h2>
            <i class="fa fa-check-square-o" style="color: rgb(4, 220, 0);font-size: 40px;"></i>
            <p>
            <h2>Email:</h2> {{ compraExitosa.email }}</p>
            <p>
            <h2>Total Precio:</h2> {{ compraExitosa.total.toFixed(2) }}€</p>
            <h3>Productos comprados:</h3>
            <ul>
                <li v-for="producto in compraExitosa.productos" :key="producto.id_prenda">
                    {{ producto.nombre }} <br> Talla: {{ producto.talla.nombre }} - Precio: {{ producto.precio }}€
                </li>
            </ul>
        </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-links">
                    <a href="#about">Sobre nosotros</a><br>
                    <a href="#contact">Contacto</a><br>
                    <a href="#privacy">Política de privacidad</a><br>
                    <a href="#terms">Términos de servicio</a><br>
                </div>
                <div id="rrss" class="footer-social">
                    <a href="#" aria-label="Facebook"><i class="fa fa-facebook-square" style="font-size: 25px;"></i></a>
                    <a href="#" aria-label="Twitter"><i class="fa fa-twitter" style="font-size: 25px;"></i></a>
                    <a href="#" aria-label="Instagram"><i class="fa fa-instagram" style="font-size: 25px;"></i></a>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 On-White. Todos los derechos reservados.</p>
            </div>
        </footer>

    </div>
    <!-- Scripts -->
    <script type="module" src="https://unpkg.com/vue@3/dist/vue.esm-browser.js"></script>
    <script type="module" src="./js/comunicationManager.js"></script>
    <script type="module" src="./js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>