/* Estilos Generales */
#appVue {    
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    height: 100vh;     
}
body {
    margin: 0;
    padding: 0;
}

/* Anuncio */
.anuncio {  
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.anuncio p {
    margin: 0;
    padding: 5px;
    animation: moverAnuncio 30s linear infinite;
}

@keyframes moverAnuncio {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* Panel Superior */
.panelSuperior {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

/* Navegación de Usuario */
.navUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navUser button, .superior button {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.navUser button:hover, .superior button:hover, #navPrendas button:hover {
    background-color:white;
}
.navUser img {
    width: 50px; 
    height: 50px;   
}

/* Navegación */
.navIzq { 
    flex: 1;
}

.navCentro {
    flex: 1;
    text-align: center;
}

.navCentro img {
    cursor: pointer;
    width: 50%;
    max-width: 200px;
}

.navDer {
    display: flex;
    align-items: center;
}

.navDer input[type="text"] {
    padding: 10px;
    border-radius: 5px;
}

/* Navegación Categorías */
#navCat {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.categoria-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Contenido de Botiga */
#botiga {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "botiga carritoLateral"; 
    gap: 20px; 
    margin: 20px 0;
}

/* Sección de Prendas */
#prendas {
    grid-area: botiga;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    text-align: center;
}

#prendas h1 {
    grid-column: span 3;
    text-align: center;
}

.prenda {
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.prenda img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

/* Sección de Checkout */
#checkout {
    text-align: center;
    margin: 20px;
}

.cesta {
    border: 1px solid wheat;
    padding: 10px;
    margin: 10px 0;
}

/* Carrito Lateral */
#carritoLateral {
    grid-area: carritoLateral;
    background-color: wheat;
}

/* Footer */
#footer {
    text-align: center;
    position: fixed;
    background-color: wheat;
    bottom: 0;
    width: 100%;
}
